button {
    width: 100%;
    background-color: silver;
    border-radius: 10px;
}

table { 
    border: 1px solid black; 
    margin: auto;
    background-color: rgb(81, 81, 81);
} 

h1 {
    color: white;
    display: inline;
}

.big {
    background-color: rgb(232, 179, 33);
}

#output{
    height: 1.5rem;
    background-color: aquamarine;
    font-family: digital7, 'Times New Roman', Times, serif;
    text-align: right;
}

@font-face{
    font-family: digital7;
    src: url(digital-7.ttf);
}